*{
    margin: 0;
    padding: 0;
}

.navigation{
    /* padding-top: 18px; */
    font-family: var(--font1);
    /* height: 60px; */          
    /* background-color: rgb(235, 18, 29); */
    display: flex;
    justify-content: space-between;
    align-items: center;                                                                                                                                                                                  
}
.nav-left{
    /* font-size: 20px; */
    display: flex;
}
.logo{ 
    margin: 0 0 0 10px;
    font-size: 37px;
}
.nav-left ul li{
    list-style: none;
}
.nav-left ul {
    list-style: none;
    display:flex;
    margin:16px 60px;
   
    }
    .nav-left ul a{
        text-decoration: none;
        color: black;
        margin: 0 0 0 42px;
        font-size: 21px;
    } 

.content{
    height: 395px;
    /* background-color: rgb(175, 241, 109); */
    display: flex;
    
    position: relative;
    
}

.content::after{
    content:"";
    background-image: url('img/11.svg');
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0.25;

}
.btn:hover{
    background-color: var(--main-bg-color);
    color: white;
    transition: all 0.3s ease-in-out;
    
}
.nav-left ul li:hover {
    font-weight: bolder;

}
.footer{
   height: 50px;
   background-color:rgb(43, 42, 42);
   display: flex;
   justify-content: center;
   flex-direction: column;
   font-size: 19px;
   color:white;
   align-items: center;

}
.footer a{
    color: white;
    text-decoration: none;
}

.footer ul{
    display: flex;

}

.footer ul li{
    list-style: none;
    padding: 0 15px;
}

.content-left{
    font-family: var(--font1);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    z-index: 1;
    text-decoration: none;
}
.content-right{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content-right img{
    width: 84%;
    border: 2px solid black;
    border-radius: 162px;

    
}

.home-articles{
padding-top: 8px;

background-color: rgba(247, 248, 171, 0.5);
margin-top: 23px;
position: relative;

}

.year-box{
    position: absolute;
    /* width: 34px; */
    height: 455px;
    
    right: 419px;
    top: 100px;
    width: 234px;
    height: 255px;
}
.home-article {
    display: flex;
    margin: 25px;
    padding: 12px;
}
.home-article img{
    width:300px;

}

.home-article-content{
    align-self: center;
    padding: 25px;
    
}
.year-box div{
    margin: 12px 0px;
}